/* this targets markdown generated elements in blog posts */

/*
Style the inline code blocks (wrapped in single backticks) and NOT the prism
styled code blocks.
*/
.post-content code:not([class*="language"]) {
  @apply .text-black .py-px .px-1 .rounded;

	background-color: #f3f3f4;
  color: #24292e;
}

/*
Sizes from http://topfunky.com/baseline-rhythm-calculator/
*/

.post-content h2 {
  @apply .font-bold;

	margin: 0;
	font-size: 1.375em;
	line-height: 1.0909090909090908em;
	margin-bottom: 1.0909090909090908em;
}

.post-content h3 {
  @apply .font-bold;

	margin: 0;
	font-size: 1.25em;
	line-height: 1.2em;
	margin-bottom: 1.2em;
}

.post-content h4 {
  @apply .font-bold;

	margin: 0;
	font-size: 1.125em;
	line-height: 1.3333333333333333em;
	margin-bottom: 1.3333333333333333em;
}

.post-content p,
.post-content ol,
.post-content ul,
.post-content pre,
.post-content blockquote,
.post-content td,
.post-content th,
.post-content label {
	margin: 0;
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

.post-content ul {
  @apply .list-disc .list-inside;
}

.post-content ol {
  @apply .list-decimal .list-outside ml-4;
}

.post-content li > p {
  @apply .mb-0;
}

.post-content table {
	border-collapse: collapse;
	margin-bottom: 1.5em;
}

.post-content pre {
  @apply .rounded;
}

.post-content a {
  @apply .text-blue-700 .underline;
}
