<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% if metaDescription %}
    <meta name="description" content="{{metaDescription}}">
  {% endif %}
  <link rel="stylesheet" href="/{{pkg.version}}/main.css">
  <link rel="canonical" href="https://paulsalaets.com/">
  <title>
    {% if title %}{{ title }} | {% endif %}paulsalaets.com
  </title>
</head>
<body class="font-base font-sans text-gray-900">
  <header class="p-4 mx-auto sm:max-w-3xl sm:px-16">
    <a href="#main" class="skipnav">skip to main content</a>
    {% include "partials/site-nav.njk" %}
  </header>
  <main id="main" class="pb-4">
    <div class="mx-auto bg-white p-4 sm:max-w-3xl sm:px-16">
      {{ content | safe }}
    </div>
  </main>
  <footer class="p-8 text-center text-sm border-t-2 border-gray-200">
    <span>©2019 Paul Salaets</span>
    <br>
    <span>Built with {% link "https://www.11ty.io/" %}Eleventy{% endlink %} and {% link "https://tailwindcss.com/" %}Tailwind CSS{% endlink %}</span>
  </footer>
</body>
</html>
