---
layout: layouts/default
tags: posts
permalink: "/posts/{{ page.fileSlug }}/"
---
<article>
  <header class="mb-8">
    <h1 class="text-3xl font-bold">{{ title }}</h1>
    <span class="text-sm">{{ page.date | postDate }}</span>
  </header>
  <section class="post-content">
    {{ content | safe }}
  </section>
</article>
