---
layout: layouts/page
title: About
metaDescription: About Paul Salaets
---
<div class="p-4 text-center">
  <img src="/assets/images/profile-pic.jpg" class="rounded-full h-32 w-32 mb-4 inline-block" alt="avatar">
  <p>Hey there, I'm Paul, a software architect and developer. This site is where I share things I've learned and things I've made, no matter how small.</p>
</div>
