---
layout: layouts/page
title: Archive
metaDescription: All blog posts by Paul Salaets
---
{% for postsByYear in collections.posts | reverse | byYear %}
<section class="mt-4">
  <h2 class="text-2xl font-bold">
    <span class="sr-only">Posts written in</span>
    {{postsByYear.year}}
  </h2>
  <ul>
    {% for post in postsByYear.posts %}
      {% if loop.index % 4 == 0 and not loop.last %}
        <li class="mb-4">
          {% link post.url %}{{ post.data.title }}{% endlink %}
        </li>
      {% else %}
        <li>
          {% link post.url %}{{ post.data.title }}{% endlink %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>
{% endfor %}
