---
layout: layouts/page
---
<header class="sr-only">
  <h1 class="text-4xl">Recent Posts</h1>
</header>
{% for post in collections.post | reverse | head(3) %}
  <article class="mb-8">
    <h2 class="text-3xl font-bold">
      <a href="{{ post.url }}" class="text-black no-underline hover:underline">
        {{ post.data.title }}
      </a>
    </h2>
    <div class="text-sm">{{ post.date | postDate }}</div>
    <div class="post-excerpt">{% excerpt post %}</div>
    {% link post.url %}
      Continue reading <span class="sr-only">about {{ post.data.title }}</span>
    {% endlink %}
  </article>
{% endfor %}
<div class="text-center">
{% link "/archive" %}Older posts{% endlink %}
</div>
