<nav>
  <a class="font-bold text-sm sm:text-base inline-block mr-3" href="/" title="Home">
    Paul Salaets
  </a>
  <a class="px-3 py-2" href="/" title="Home">
    <span class="text-sm sm:text-base inline-block {% if page.url == "/" %}border-b-4 border-green-300{% endif %}">
      Home
    </span>
  </a>
  <a class="px-3 py-2" href="/about" title="About">
    <span class="text-sm sm:text-base inline-block {% if page.url == "/about/" %}border-b-4 border-green-300{% endif %}">
      About
    </span>
  </a>
  <a class="px-3 py-2" href="/archive" title="Archive">
    <span class="text-sm sm:text-base inline-block {% if page.url == "/archive/" %}border-b-4 border-green-300{% endif %}">
      Archive
    </span>
  </a>
  <a class="px-3 py-2" href="/feed.xml" title="Feed">
    <span class="sr-only">RSS Feed</span>
    {% fas 'rss' %}
  </a>
</nav>
